:root{
    --negro: #000000;
    --naranjagana: #ff9100;
}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 62.5%;
}
html{
   height: 100%;
    text-align: center;
    overflow-y: hidden;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2rem;
    color: rgb(59, 57, 57);
    text-align: center;
}
.linea{
    width: 70%;
    height: 1px;
    border-radius: 15%;
    margin: 0 auto 5px;
    background-color: rgb(59, 57, 57);
}
p{
    font-size: 2rem;
}
a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 2rem;
    
}
.mapa{
    position: relative;
}
.fondo{
    width: auto;
    height: 100vh;
    position: absolute;
    background-image: url('https://img.freepik.com/vector-premium/textura-vertical-grunge-elementos-pernos-tuercas-engranajes-fondo-abstracto-efecto-papel-envejecido-elemento-diseno-ilustracion-vectorial_615712-31.jpg?w=2000');
    background-repeat: repeat-y ;
    object-fit: contain;
    z-index: -1;
    opacity: .4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.perfil{
    background: linear-gradient(0deg, rgba(208,139,0,1) 0%, rgba(239,139,0,1) 6%, rgba(0,0,0,1) 100%);
}
.perfil img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 150px;
    margin: 10px auto;
}
.lema{
    line-height: 4rem;
    font-weight: bold;
}
.botones{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.enlace{
    font-size: 1.6rem;
    background-color: var(--naranjagana);
    width: 200px;
    height: 30px;
    color: var(--negro);
    border-radius: 15px;
    text-transform: none;
    font-weight: bold;
    margin: 10px auto;
    display: flex;
}
.enlace a{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.enlaceIcono{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
.enlace img{
    width: 15px;
    height: 15px;
    
}
footer{
    background-color: var(--negro);
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: auto;
}
footer p{
    color: white;
    font-size: 1.6rem;
    align-self: center;
    margin: auto;
}